# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE specific files
*.idea/
*.vscode/

# Logs
*.log

# Other files
*.pkl
*.h5 
*.cursor/
*.cursor.log
.cursor/

# Model zip files
*.zip
*.zip.part
tennis_ppo_model.zip

# Ignore tennis_tensorboard directory
tennis_tensorboard/
docs/
docs/tenn-2.md
